---
language: node_js
node_js:
  - "4.4.0"

sudo: false

cache:
  directories:
    - node_modules

matrix:
  fast_finish: true

install:
  - npm install -g bower
  - npm install

script:
  - npm test
